.note-index {
    text-align: center;
    overflow-y: auto;
}

.note-index .edit {
    margin-top: 20px;
    font-size: 12px;
    color: grey;
}

.note-index .title {
    margin-top: 20px;
}

.note-index .title span {
    margin-right: 50px;
}

.note-index .box {
    width: 808px;
    margin: 0 auto;
}

.note-index .box .content {
    text-align: left;
    margin: 20px auto;
}

.note-index .book-mark, .note-index .operate {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
}

.note-index .book-mark img {
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.note-index .operate ul {
    border: 1px gainsboro solid;
    border-radius: 0 30%;
}

.note-index .operate ul li {
    margin: 10px 10px;
    list-style: none;
}

.note-index .operate ul li > button {
    cursor: pointer;
}

.eEditorClient {
    text-align: left;
    margin: 20px auto;
}

