<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body ng-controller="NoteController">
<div class="note-list-index">
    <div align="center">
        <input id="title" type="text" ng-model="search.title" placeholder="Search" autofocus/>
    </div>
    <div class="note-list">
        <ul>
            <li ng-repeat="note in notes|filter:search" ng-click="showNote(note.id)">
                <span class="title">
                    <span ng-bind="note.title"></span>
                </span>
                    <span class="update"
                          ng-bind="note.editTime?note.editTime:note.postTime|date:'yyyy-MM-dd HH:mm:ss'"></span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
